# Clocks
NET "CLK_100M" TNM_NET = CLK_100M;
TIMESPEC TS_CLK_100M = PERIOD "CLK_100M" 10 ns;
#-------------------------------------------------------------------------------

# Ignore internal timing paths
//NET "Delay_Reset1/Reset" TIG;
#-------------------------------------------------------------------------------

# Pins
NET "Reset_Button" LOC = C12 | IOSTANDARD = "LVCMOS33" | TIG;
NET "Clk_100M"     LOC = E3  | IOSTANDARD = "LVCMOS33";

NET "Key_Clk"  LOC = F4 | PULLUP | IOSTANDARD = "LVCMOS33" | TIG;
NET "Key_Data" LOC = B2 | PULLUP | IOSTANDARD = "LVCMOS33" | TIG;
 
#NET "SS_Drivers<7>" LOC = M1 | IOSTANDARD = "LVCMOS33" | TIG;
#NET "SS_Drivers<6>" LOC = L1 | IOSTANDARD = "LVCMOS33" | TIG;
#NET "SS_Drivers<5>" LOC = N4 | IOSTANDARD = "LVCMOS33" | TIG;
#NET "SS_Drivers<4>" LOC = N2 | IOSTANDARD = "LVCMOS33" | TIG;
NET "SS_Drivers<3>" LOC = N5 | IOSTANDARD = "LVCMOS33" | TIG;
NET "SS_Drivers<2>" LOC = M3 | IOSTANDARD = "LVCMOS33" | TIG;
NET "SS_Drivers<1>" LOC = M6 | IOSTANDARD = "LVCMOS33" | TIG;
NET "SS_Drivers<0>" LOC = N6 | IOSTANDARD = "LVCMOS33" | TIG;

NET "SS_Segments<7>" LOC = M4 | IOSTANDARD = "LVCMOS33" | TIG;
NET "SS_Segments<6>" LOC = L6 | IOSTANDARD = "LVCMOS33" | TIG;
NET "SS_Segments<5>" LOC = M2 | IOSTANDARD = "LVCMOS33" | TIG;
NET "SS_Segments<4>" LOC = K3 | IOSTANDARD = "LVCMOS33" | TIG;
NET "SS_Segments<3>" LOC = L4 | IOSTANDARD = "LVCMOS33" | TIG;
NET "SS_Segments<2>" LOC = L5 | IOSTANDARD = "LVCMOS33" | TIG;
NET "SS_Segments<1>" LOC = N1 | IOSTANDARD = "LVCMOS33" | TIG;
NET "SS_Segments<0>" LOC = L3 | IOSTANDARD = "LVCMOS33" | TIG;

#NET "LED<0>"  LOC = T8 | IOSTANDARD = "LVCMOS33" | TIG;
#NET "LED<1>"  LOC = V9 | IOSTANDARD = "LVCMOS33" | TIG;
#NET "LED<2>"  LOC = R8 | IOSTANDARD = "LVCMOS33" | TIG;
#NET "LED<3>"  LOC = T6 | IOSTANDARD = "LVCMOS33" | TIG;
#NET "LED<4>"  LOC = T5 | IOSTANDARD = "LVCMOS33" | TIG;
#NET "LED<5>"  LOC = T4 | IOSTANDARD = "LVCMOS33" | TIG;
#NET "LED<6>"  LOC = U7 | IOSTANDARD = "LVCMOS33" | TIG;
#NET "LED<7>"  LOC = U6 | IOSTANDARD = "LVCMOS33" | TIG;
#NET "LED<8>"  LOC = V4 | IOSTANDARD = "LVCMOS33" | TIG;
#NET "LED<9>"  LOC = U3 | IOSTANDARD = "LVCMOS33" | TIG;
#NET "LED<10>" LOC = V1 | IOSTANDARD = "LVCMOS33" | TIG;
#NET "LED<11>" LOC = R1 | IOSTANDARD = "LVCMOS33" | TIG;
#NET "LED<12>" LOC = P5 | IOSTANDARD = "LVCMOS33" | TIG;
#NET "LED<13>" LOC = U1 | IOSTANDARD = "LVCMOS33" | TIG;
#NET "LED<14>" LOC = R2 | IOSTANDARD = "LVCMOS33" | TIG;
#NET "LED<15>" LOC = P2 | IOSTANDARD = "LVCMOS33" | TIG;

NET "Red<3>"   LOC = A4  | IOSTANDARD = "LVCMOS33" | TIG;
NET "Red<2>"   LOC = C5  | IOSTANDARD = "LVCMOS33" | TIG;
NET "Red<1>"   LOC = B4  | IOSTANDARD = "LVCMOS33" | TIG;
NET "Red<0>"   LOC = A3  | IOSTANDARD = "LVCMOS33" | TIG;
NET "Green<3>" LOC = A6  | IOSTANDARD = "LVCMOS33" | TIG;
NET "Green<2>" LOC = B6  | IOSTANDARD = "LVCMOS33" | TIG;
NET "Green<1>" LOC = A5  | IOSTANDARD = "LVCMOS33" | TIG;
NET "Green<0>" LOC = C6  | IOSTANDARD = "LVCMOS33" | TIG;
NET "Blue<3>"  LOC = D8  | IOSTANDARD = "LVCMOS33" | TIG;
NET "Blue<2>"  LOC = D7  | IOSTANDARD = "LVCMOS33" | TIG;
NET "Blue<1>"  LOC = C7  | IOSTANDARD = "LVCMOS33" | TIG;
NET "Blue<0>"  LOC = B7  | IOSTANDARD = "LVCMOS33" | TIG;
NET "H_Sync"   LOC = B11 | IOSTANDARD = "LVCMOS33" | TIG;
NET "V_Sync"   LOC = B12 | IOSTANDARD = "LVCMOS33" | TIG;
#-------------------------------------------------------------------------------

